.idea/**/workspace.xml
 .idea/**/tasks.xml
 .idea/**/usage.statistics.xml
 .idea/**/dictionaries
 .idea/**/shelf
 .idea/**/aws.xml
 .idea/**/contentModel.xml
 .idea/**/dataSources/
 .idea/**/dataSources.ids
 .idea/**/dataSources.local.xml
 .idea/**/sqlDataSources.xml
 .idea/**/dynamic.xml
 .idea/**/uiDesigner.xml
 .idea/**/dbnavigator.xml
 .idea/**/gradle.xml
 .idea/**/libraries
 cmake-build-*/
 .idea/**/mongoSettings.xml
 *.iws
 .idea
 out/
 .idea_modules/
 atlassian-ide-plugin.xml
 .idea/replstate.xml
 .idea/sonarlint/
 com_crashlytics_export_strings.xml
 crashlytics.properties
 crashlytics-build.properties
 fabric.properties
 .idea/httpRequests
 .idea/caches/build_file_checksums.ser
 .php-cs-fixer.cache
 .php-cs-fixer.php
 /app/tmp/*
 /app/Config/core.php
 /app/Config/database.php
 /vendors/*
 /config/app.php
 /config/.env
 /logs/*
 /tmp/*
 /vendor/*
 _notes
 _compareTemp
 configs/
 dwsync.xml
 dw_php_codehinting.config
 *.mno
 /tmp/cache/models/*
 !/tmp/cache/models/empty
 /tmp/cache/persistent/*
 !/tmp/cache/persistent/empty
 /tmp/cache/views/*
 !/tmp/cache/views/empty
 /tmp/sessions/*
 !/tmp/sessions/empty
 /tmp/tests/*
 !/tmp/tests/empty
 !/logs/empty